body {
  background-color: #f4f6f8;
}
img {
  width: 20px;
  height: 20px;
  margin: 10px 0;
}
.container {
  border: 1px solid lightgray;
  margin: 20px;
  border-radius: 4px;
  background-color: white;
  width: 220px;
  display: flex;
  flex-direction: column;
}
.title {
  padding: 8px;
}
.mainContainer {
  display: flex;
  justify-content: center;
}
.taskList {
  padding: 8px;
  transition: background-color 0.2s ease;
  background-color: white;
  flex-grow: 1;
  min-height: 100vh;
}
.taskContainer {
  border: 1px solid lightgray;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 2px;
  background-color: white;
  border-left: 3px solid red;
}
